In [16]:
# standard imports:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# 1. Getting data to be used with ML model:
* Three main things to do:
-> Split the data into features and labels (Usually 'X' and 'y')
-> Filling (also called imputing) or disregarding missing values
-> Converting non-numerical values to numerical values (also called feature encoding)

In [17]:
# import dataset:
heart_disease = pd.read_csv("/Users/yash/Development/ZTM_Machine_Learning_Data_Science/Matplotlib/heart-disease.csv")

heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [18]:
X = heart_disease.drop("target", axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [19]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [20]:
# Split data into training and test_sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [21]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [22]:
X.shape[0] * 0.8

242.4

In [23]:
len(heart_disease)

303

## Getting Data Ready:
## Convert Data to Numbers

In [24]:
car_sales = pd.read_csv("/Users/yash/Development/ZTM_Machine_Learning_Data_Science/Scikit-Learn/car-sales-extended.csv")

In [25]:
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [26]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [27]:
len(car_sales)

1000

In [28]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [29]:
# split the data (X/y)

X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# split into training and test set:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [30]:
# build the machine learning model:

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Honda'

In [ ]:
# turn the categories into numbers:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]

one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one-hot", one_hot, categorical_features)],
                                remainder="passthrough")

transformered_X = transformer.fit_transform(X)
transformered_X

In [ ]:
pd.DataFrame(transformered_X)

In [ ]:
X

In [ ]:
# method02 using dummies in pandas
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies

In [ ]:
# let's refit the model
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformered_X, y, test_size=0.2)

model.fit(X_train, y_train)

In [ ]:
model.score(X_test, y_test)

## Handling missing values with Pandas

## what if there were missing values?

1. Fill them with some values (also known as imputation).
2. Remove the samples with missing data altogether.

In [ ]:
# import car sales missing data:
car_sales_missing = pd.read_csv("/Users/yash/Development/ZTM_Machine_Learning_Data_Science/Scikit-Learn/car-sales-extended-missing.csv")
car_sales_missing

In [ ]:
car_sales_missing.isna()

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# create X and y:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [ ]:
# convert our data to numbers:

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features_miss = ["Make", "Colour", "Doors"]

one_hot_miss = OneHotEncoder()

transformer_miss = ColumnTransformer([("one-hot", one_hot_miss, categorical_features_miss)],
                                     remainder="passthrough")

transformered_X_miss = transformer.fit_transform(X)
transformered_X_miss

In [ ]:
car_sales_missing

# Method-1: Fill missing data with Pandas

In [ ]:
# fill the "make" column:
car_sales_missing["Make"].fillna("missing", inplace=True)

# Fill the "Colour" column:
car_sales_missing["Colour"].fillna("missing", inplace=True)

# Fill the "Odometer" column:
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)

# Fill the "Doors" column:
car_sales_missing["Doors"].fillna(4, inplace=True)

In [ ]:
# check our dataframe again:
car_sales_missing.isna().sum()

# we are trying to predict the price col so we leave it unchanged:

In [ ]:
# remove the rows with missing Price value:
car_sales_missing.dropna(inplace=True)

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
len(car_sales_missing)

In [ ]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features_miss = ["Make", "Colour", "Doors"]

one_hot_miss = OneHotEncoder()

transformer_miss = ColumnTransformer([("one-hot", one_hot_miss, categorical_features_miss)],
                                     remainder="passthrough")

transformered_X_miss = transformer_miss.fit_transform(car_sales_missing)
transformered_X_miss

# Method-2: Fill missing data using Scikit-learn

In [ ]:
car_sales_missing = pd.read_csv("/Users/yash/Development/ZTM_Machine_Learning_Data_Science/Scikit-Learn/car-sales-extended-missing.csv")
car_sales_missing

## check missing values

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# drop the rows with no labels:
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

In [ ]:
# split into X and y:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [ ]:
X.isna().sum()

In [ ]:
# Fill missing values with Scikit learn:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' and numerical values with mean:
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define Columns:
cat_features = ["Make", "Colour"]
door_features = ["Doors"]
num_features = ["Odometer (KM)"]

# create and imputer (something that fills the missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_features),
    ("num_imputer", num_imputer, num_features)
])

# Transform the data:
filled_X = imputer.fit_transform(X)
filled_X

In [ ]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_filled

In [ ]:
car_sales_filled.isna().sum()

In [ ]:
# converting our data into numbers:

categorical_features_filled = ["Make", "Colour", "Doors"]
one_hot_filled = OneHotEncoder()
transformer_filled = ColumnTransformer([
    ("one_hot_filled", one_hot_filled, categorical_features_filled)],
    remainder = "passthrough"
)

transformed_X_fill = transformer_filled.fit_transform(car_sales_filled)
transformed_X_fill

# now we have got our data as numbers and filled (no missing values)
# lets fit a model:

In [ ]:
np.random.seed(42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X_fill,
                                                    y,
                                                    test_size=0.2)

model = RandomForestRegressor(n_estimators=1000)  # default value is 100

model.fit(X_train, y_train)
model.score(X_test, y_test)

In [ ]:
len(car_sales_filled), len(car_sales)

## 2. Choosing the right estimator/algorithm for your problem:

Note:
* Sklearn refers to machine learning models, algorithms as estimators.
* Estimators have classifiers and Regressors.
* Classification Problem: predicting a category (heart disease or not).
    * sometimes we see `clf` (short for classifier) used as a classification estimator
* Regression Problem: predicting a number (selling price of car)

## 2.1 Picking a ml model for a regression problem:
California Housing Dataset

In [32]:
# Get california housing dataset:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing;

In [33]:
housing_df = pd.DataFrame(housing["data"])
housing_df

            0     1         2         3       4         5      6       7
0      8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1      8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2      7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3      5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4      3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25
...       ...   ...       ...       ...     ...       ...    ...     ...
20635  1.5603  25.0  5.045455  1.133333   845.0  2.560606  39.48 -121.09
20636  2.5568  18.0  6.114035  1.315789   356.0  3.122807  39.49 -121.21
20637  1.7000  17.0  5.205543  1.120092  1007.0  2.325635  39.43 -121.22
20638  1.8672  18.0  5.329513  1.171920   741.0  2.123209  39.43 -121.32
20639  2.3886  16.0  5.254717  1.162264  1387.0  2.616981  39.37 -121.24

[20640 rows x 8 columns]

In [34]:
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [35]:
housing_df["MedHouseVal"] = housing["target"]
housing_df

# we will be predicting medHouseVal (Median House Value)
# house value = median house value * 100,000 (in california) ($)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [36]:
housing_df["target"] = housing["target"]
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,3.422
...,...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894,0.894

In [37]:
# drop the MedValCol:
housing_df = housing_df.drop("MedHouseVal", axis=1)
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## Ridge Regression Model:

In [38]:
# import algorithm/estimator
from sklearn.linear_model import Ridge

# setup random seed
np.random.seed(42)

# create the data
X = housing_df.drop("target", axis=1)
y = housing_df["target"]  # median house price in $100,000

# Split into train, test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Instantiate and fit the model (on the training set)
model = Ridge()
model.fit(X_train, y_train)

# check the score of the model on the test set:
model.score(X_test, y_test)  # gives us the R^2 score

0.5758549611440126

# Lasso:

In [39]:
from sklearn.linear_model import Lasso

X_lass = housing_df.drop("target", axis=1)
y_lass = housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X_lass, y_lass, test_size=0.2)

model = Lasso()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.2852385036572519

# Elastic-Net

In [40]:
from sklearn.linear_model import LassoLars
X_lass = housing_df.drop("target", axis=1)
y_lass = housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X_lass, y_lass, test_size=0.2)

model = LassoLars()
model.fit(X_train, y_train)

model.score(X_test, y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLars())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

-0.00017474408903450644

# SVR

In [41]:
# from sklearn.svm import SVR
# X_lass = housing_df.drop("target", axis=1)
# y_lass = housing_df["target"]
#
# X_train, X_test, y_train, y_test = train_test_split(X_lass, y_lass, test_size=0.2)
#
# model = SVR(kernel="linear")
# model.fit(X_train, y_train)
#
# model.score(X_test, y_test)

 What is `Ridge` didnt work we can refer to another model/estimators:

* We could always try a different model:
* How about we try an ensemble model (an ensemble is a combination of smaller models to try and make better predictions than just a single model !
* Sklearn's ensemble models can be found here: "https://scikit-learn.org/stable/modules/ensemble.html"

In [42]:
# import the RandomForestRegressor model class from the ensemble module:
from sklearn.ensemble import RandomForestRegressor

# setup random seed:
np.random.seed(42)

# create the data:
X_Rforest = housing_df.drop("target", axis=1)
y_Rforest = housing_df["target"]

# Split into train and test sets:
X_train, X_test, y_train, y_test = train_test_split(X_Rforest, y_Rforest, test_size=0.2)

# Instantiate the model:
model = RandomForestRegressor()  ## 100 decision trees predicting our data!

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.8066196804802649

# 2.2 Picking a machine learning model for a classification problem:

In [43]:
heart_disease = pd.read_csv("/Users/yash/Development/ZTM_Machine_Learning_Data_Science/Matplotlib/heart-disease.csv")

heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [48]:
# import LinearSVC estimator class:
from sklearn.svm import LinearSVC

# Setup random seed:
np.random.seed(42)

# Make the data:
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

# split the data:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# model instantiated:
clf = LinearSVC(max_iter=100000)  # by default its value is 1000

clf.fit(X_train, y_train)
clf.score(X_test, y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.8852459016393442

In [45]:
heart_disease["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

In [46]:
# Import random forest classifier estimator class:
from sklearn.ensemble import RandomForestClassifier

# Setup random seed:
np.random.seed(42)

# Make the data:
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

# split the data:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# model instantiated:
clf = RandomForestClassifier()  # by default its value is 1000
clf.fit(X_train, y_train)

# Evaluate the random forest classifier:
clf.score(X_test, y_test)

0.8524590163934426

## Note:
## * If you have structured data use ensemble learning
## * if you have unstructured data use deep learning or transfer learning

# 3. Fit the model/algorithm on our data and use it to make predicitions

### 3.1 Fitting the model to data

Different names for:
* X = features, features variables, data
* y = labels, targets, target variables

In [52]:
# Import random forest classifier estimator class:
from sklearn.ensemble import RandomForestClassifier

# Setup random seed:
np.random.seed(42)

# Make the data:
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

# split the data:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# model instantiated:
clf = RandomForestClassifier(n_estimators=100)

# Fit the model to our data: (training the machine learning model)
clf.fit(X_train, y_train)

# Evaluate the random forest classifier: (use the patterns the model has learned)
clf.score(X_test, y_test)

0.8524590163934426

ML model helps us to find patterns in our data [atleast in Supervised Learning]

In [50]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [51]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

## 3.2 Make predictions using a ML model